{% extends "layout.html" %}
{% block title %}Контакти{% endblock %}
{% block content %}
    <h1>Наші контакти</h1>
    <p>Ми завжди раді спілкуванню з відвідувачами та відповімо на всі ваші запитання.</p>

    <h2>Адреса</h2>
    <p>м. Київ, вул. Зелена, 15</p>

    <h2>Телефони</h2>
    <ul>
        <li>+38 (044) 123-45-67</li>
        <li>+38 (067) 987-65-43</li>
    </ul>

    <h2>Email</h2>
    <p><a href="mailto:info@zoo.ua">info@zoo.ua</a></p>

    <h2>Графік роботи</h2>
    <p>Понеділок – Неділя: 09:00 – 19:00<br>
        Каса працює до 18:30</p>

    <h2>Соціальні мережі</h2>
    <ul>
        <li><a href="https://facebook.com/kyivzoo" target="_blank">Facebook</a></li>
        <li><a href="https://instagram.com/kyivzoo" target="_blank">Instagram</a></li>
        <li><a href="https://t.me/kyivzoo" target="_blank">Telegram</a></li>
    </ul>

    <h2>Як дістатися</h2>
    <ul>
        <li>Метро: станція «Зоологічна», вихід до вул. Зеленої.</li>
        <li>Автобус: маршрути №12, №24, зупинка «Зоопарк».</li>
        <li>Для автомобілістів доступна парковка поруч з головним входом.</li>
    </ul>
{% endblock %}

