{% extends "layout_m.html" %}
{% block title %}Додавання тварини{% endblock %}
{% block content %}

<h1>{% block h %}Додати нову тварину{% endblock %}</h1>
<form method="post">
    {% csrf_token %}
    <p>Вид:</p>
    {{ form.type }}<br><br>
    <p>Колір:</p>
    {{ form.color }}<br><br>
    <p>Вік:</p>
    {{ form.age }}<br><br>
    <p>Локація:</p>
    {{ form.zone }}<br><br>
    <button type="submit">{% block b %}Додати{% endblock %}</button>
</form>

<br>

<a href="{% url 'animals_m' %}">Назад</a>
<br>
{% endblock %}