{% extends "layout_m.html" %}
{% block title %}Керування тваринами{% endblock %}
{% block content %}

<br>
<a href="{% url 'animals_create' %}">Додати тварину</a>
<br>
<br>
<form method="post">
    {% csrf_token %}

    <table>
        <tr>
            <th>
                <input name="filter_id" type="number"><br>
                <a href="?sort=id&dir={% if sort_field == 'id' and direction == 'asc' %}desc{% else %}asc{% endif %}">Id</a>
            </th>
            <th>
                <input name="filter_type" type="text"><br>
                <a href="?sort=type&dir={% if sort_field == 'type' and direction == 'asc' %}desc{% else %}asc{% endif %}">Вид</a>
            </th>
            <th>
                <input name="filter_color" type="text"><br>
                <a href = "?sort=color&dir={% if sort_field == 'color' and direction == 'asc' %}desc{% else %}asc{% endif %}">Колір</a>
            </th>
            <th>
                <input name="filter_age" type="number"><br>
                <a href = "?sort=age&dir={% if sort_field == 'age' and direction == 'asc' %}desc{% else %}asc{% endif %}">Вік</a>
            </th>
            <th>
                <input name="filter_zone" type="number"><br>
                <a href = "?sort=zone&dir={% if sort_field == 'zone' and direction == 'asc' %}desc{% else %}asc{% endif %}">Зона</a>
            </th>
            <th><button type="submit">{% block b %}ОК{% endblock %}</button><br><br></th>
        </tr>
        {% for i in all_animals %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.type }}</td>
            <td>{{ i.color }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.zone }}</td>
            <td>
                <a href="{% url 'detail_view' i.id %}">Детальніше</a>
            </td>
         </tr>
        {% endfor %}
    </table>
</form>
<a href="{% url 'main_page_m' %}">Назад</a><br>


{% endblock %}